@import '../../../styles/colors';

.story-img-wrapper
{   
    position: relative;
    border-radius: 50%;
    cursor: pointer;

    figcaption
    {
        color: $primary-font;
        font-weight: 500;
    }

    .story-img-overflow
    {
        content: '';
        position: absolute;
        width: 65px;
        height: 65px;
        background-color: $light_background;
        z-index: 100;
        opacity: 0.8;
        padding: 2px;
    }

    .story-img
    {
        width: 65px;
        height: 65px;
        border: solid 2px $light_background;
        padding: 2px;
    }
}