<div class="search row mx-0">
    <div class="d-flex search-bar-wrapper align-items-center col-lg-6">
        <fa-icon class="search-icon txt-secondary" [icon]="faMagnifyingGlass"></fa-icon>
        <input class="search-bar-input w-100" type="text" name="search" placeholder="search" />
    </div>
    <div class="col-md-2 offset-lg-1">
        <fa-icon class="bell-icon txt-secondary " [icon]="faBell"></fa-icon>
    </div>
    <div class="col-md-2 offset-lg-1">
        <fa-icon class="cloud-icon text-white" [icon]="faCloudArrowUp"></fa-icon>
    </div>

</div>
